@use "/src/styles/base/images";
@use "/src/styles/base/colors" as colors;
@use "/src/styles/base/breakpoints" as breakpoints;
@use "/src/styles/base/utilities" as utilities;
@use "/src/styles/base/zIndex" as zIndex;
@use "/src/styles/base/heightValues" as hvalues;

.OurTecnologhy {
  position: relative;
  width: 100%;
  height: auto;
  background: linear-gradient(90deg, #1f281c 0%, #518b44 94%);
  padding: 1rem;
  @include utilities.flex(column, nowrap, center, flex-start);
  gap: 1rem;

  &__Text {
    width: 100%;
    margin: 0rem;
    @include utilities.flex(column, nowrap, space-between, center);
    gap: 1rem;
    background: transparent;
    transition: all 0.4s ease;

    // &:hover {
    //   transform: scale(1.08);
    //   // background: #000;
    //   box-shadow: -2px -2px 100px 0px rgb(0, 0, 0, 1) inset,
    //     2px 2px 100px 0px rgb(0, 0, 0, 1);
    //   transition: all 0.4s ease;
    // }

    @include breakpoints.min-large {
      width: 65%;
      @include utilities.flex(column, nowrap, space-between, flex-start);
      margin-left: 3rem;
      margin-top: 2rem;
      background: transparent;
    }

    & h1 {
      color: #fff;
      font-size: 2rem;
      text-align: center;
    }

    & p {
      font-size: 0.8rem;
      padding: 1rem 2rem;
      color: #fff;
      @include breakpoints.min-large {
        padding: 1rem 0;
      }
    }
  }

  &__Column {
    width: 100%;
    margin: auto;
    @include utilities.grid-params-columns(
      repeat(auto-fit, minmax(285px, 1fr)),
      5%
    );
    row-gap: 2rem;

    @include breakpoints.min-large {
      @include utilities.grid-params-columns(
        repeat(auto-fit, minmax(360px, 1fr)),
        5%
      );
      width: 80%;
      margin: auto;
    }

    &Num {
      padding: 2rem 2rem 2rem 1rem;
      @include utilities.flex(row, nowrap, center, center);
      border: 3px solid #fff;
      border-radius: 10%;
      transition: all 0.4s ease;

      @include breakpoints.min-large {
        padding: 0.5rem 2rem;
      }

      & p {
        color: #fff;
        font-size: 0.7rem;
        @include breakpoints.min-large {
          font-size: 0.7rem;
        }
      }

      & div {
        padding: 0 7px;
        margin-right: 1rem;
        display: inline;
        border: medium solid #999;
        border-radius: 50%;
        color: #fff;
      }

      &:hover {
        transform: scale(1.08);
        background: #fff;
        transition: all 0.4s ease;

        p,
        div {
          color: #518b44;
        }
      }
    }
  }

  &__Img1 {
    position: absolute;
    visibility: hidden;
    @include breakpoints.min-large {
      right: 2%;
      top: 5%;
      position: absolute;
      visibility: visible;
    }
  }
}
