@use "/src/styles/base/images";
@use "/src/styles/base/colors" as colors;
@use "/src/styles/base/breakpoints" as breakpoints;
@use "/src/styles/base/utilities" as utilities;
@use "/src/styles/base/zIndex" as zIndex;
@use "/src/styles/base/heightValues" as hvalues;

.Creator {
  width: 100%;
  height: auto;
  // @include utilities.flex()

  &Parte1 {
    width: 100%;
    @include utilities.grid-params-rows(4rem 1fr, 0%);
    background: linear-gradient(90deg, #1f281c 0%, #518b44 94%);
    margin-top: 1px;

    &__Title {
      // @include utilities.grid-params-rows(grid, 1fr, 0%);
      // justify-content: center;
      // align-items: center; //Esto o esto:
      @include utilities.flex(row, nowrap, center, center);
      @include utilities.background-image(
        "/Imagenes/web/Recurso 58.png",
        bottom center,
        no-repeat,
        contain
      );
    }

    &__Info {
      width: 100%;
      position: relative;
      @include utilities.flex(row, nowrap, center, center);

      &__Video {
        width: 80%;
        padding: 1rem;
        text-align: center;
        @include utilities.flex(column, nowrap, center, center);
        gap: 1rem;

        h5 {
          font-size: 0.7rem;
        }

        iframe {
          max-width: 100%;
          height: auto;
          aspect-ratio: 16/9;
        }

        @include breakpoints.min-large {
          width: 50%;
          margin: auto;
          padding: 3rem 0;

          h5 {
            font-size: 1rem;
          }
        }
      }

      &__Img1 {
        position: absolute;
        visibility: hidden;
        width: 15rem;

        @include breakpoints.min-large {
          visibility: visible;
          top: 10%;
          left: 0;
        }
      }

      &__Img2 {
        position: absolute;
        visibility: hidden;

        @include breakpoints.min-large {
          visibility: visible;
          width: 11rem;
          top: 10%;
          right: 0;
        }
      }
    }
  }

  &Parte2 {
    width: 100%;
    background: linear-gradient(180deg, #1f281c 15%, #518b44 94%);
    @include utilities.grid-params-rows(4rem 1fr, 0%);

    &__Img {
      @include utilities.background-image(
        "/Imagenes/web/Recurso 58.png",
        bottom center,
        no-repeat,
        contain
      );
    }

    &__text {
      width: 70%;
      margin: auto;
      padding: 1rem 0;

      h4 {
        font-size: 0.6rem;
      }

      @include breakpoints.min-large {
        padding: 2rem 0;
        h4 {
          font-size: 0.8rem;
        }
      }
    }
  }
}
