@use "/src/styles/base/images";
@use "/src/styles/base/colors" as colors;
@use "/src/styles/base/breakpoints" as breakpoints;
@use "/src/styles/base/utilities" as utilities;
@use "/src/styles/base/zIndex" as zIndex;
@use "/src/styles/base/heightValues" as hvalues;

.footer {
  height: auto;
  margin-top: 1px;
  z-index: zIndex.$footer;

  &Parte1 {
    width: 100%;
    height: auto;
    background: linear-gradient(90deg, #1f281c 10%, #518b44 94%);
    @include utilities.flex(row, nowrap, center, center);
    padding: 3rem 2rem;

    &__Text {
      @include utilities.flex(column, nowrap, center, center);
      gap: 0.5rem;
      font-size: 2rem;
      h5 {
        text-align: center;
      }
      & button {
        cursor: pointer;
        padding: 10px;
        color: #fff;
        font-size: 1rem;
        border-radius: 1rem;

        background-color: #223c1c;
        border: medium solid #999;
      }
    }

    &__Img {
      position: absolute;
      visibility: hidden;
      right: 3%;
      width: 150px;

      @include breakpoints.min-large {
        visibility: visible;
      }
    }
  }

  &Parte2 {
    width: 100%;
    height: auto;
    @include utilities.grid-params-columns(
      repeat(auto-fit, minmax(250px, 1fr)),
      0rem
    );
    gap: 0rem 2rem;

    justify-content: center;
    justify-items: center;
    align-content: flex-end;
    padding: 2rem 1rem;
    background-color: #fff;

    div {
      height: 100%;
      width: 100%;
      padding: 1rem;
    }
    h1 {
      color: #518b44;
    }
    h5 {
      color: #518b44;
      font-size: 0.7rem;
    }
  }

  &Parte3 {
    width: 100%;
    height: auto;
    padding: 1rem;
    @include utilities.flex(column, nowrap, space-evenly, center);
    gap: 1rem;
    background: linear-gradient(180deg, #1f281c 10%, #518b44 94%);

    @include breakpoints.min-large {
      @include utilities.flex(row, nowrap, space-evenly, center);
    }

    &__Imagen {
      width: 100%;
      display: none;

      @include breakpoints.min-large {
        display: initial;
        width: 15rem;
        padding: 0rem 2rem;
      }
    }

    &__Suscribir {
      width: 100%;
      @include utilities.flex(column, nowrap, center, center);
      gap: 0.5rem;
      padding: 1rem;

      h4 {
        font-size: 0.7rem;
      }

      &Imput {
        width: 100%;
        @include utilities.grid-params-columns(70% 30%, 1%);
        // width: 16rem;
        padding: 0.2rem;

        & input {
          color: #000;
        }

        & h3 {
          padding: 10px 0% 10px;
          color: #fff;
          border: medium solid #999;
          background-color: #000;
          text-align: center;
          cursor: pointer;
          font-size: 0.8rem;
        }
      }

      @include breakpoints.min-large {
        // width: auto;
      }
    }

    &__SocialMedia {
      width: 100%;
      height: auto;
      @include utilities.flex(column, nowrap, center, center);

      @include breakpoints.min-large {
        width: 50vw;
      }

      &Icon {
        width: 100%;
        height: 100%;
        padding: 1rem;
        @include utilities.flex(row, nowrap, space-evenly, center);
        gap: 1rem;

        @include breakpoints.min-large {
          gap: 0.5rem;
        }
      }
    }
  }
}
