/*
  Reset
  ==========================================================================
*/
@use "./colors" as colors;
@use "./breakpoints" as breakpoints;
@use "./heightValues" as hvalues;
@import url("https://fonts.googleapis.com/css2?family=Nabla&display=swap");

*,
html,
body {
  margin: 0;
  padding: 0;
  font-family: "HelveticaNeueBold";
  box-sizing: border-box;
  font-size: calc(20px + (18 - 14) * ((100vw - 300px) / (1500 - 300)));
  color: #fff;
}

body {
  font-size: 1rem;
  color: #fff;
  background: colors.$deg-dark;
}

// scrollbar custom

body::-webkit-scrollbar {
  width: 8px;
  display: none;
}
body::-webkit-scrollbar-track {
  background-color: colors.$dark;
}
body::-webkit-scrollbar-thumb {
  background-color: colors.$primary;
  border-radius: 10px;
}
body::-webkit-scrollbar-button {
  display: none;
}

a {
  text-decoration: none;
}

b {
  font-weight: 600;
}

p {
  margin-bottom: 0;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  user-select: none;
}

.swiper-button-prev,
.swiper-button-next {
  padding-top: 3rem;
}
